<div class="container mt-5">
    <form
        class="search-form input-group text-light"
        (submit)="onSubmit($event)"
    >
        <div class="form-group w-100">
            <label for="searchInput">Saissiez le nom de film</label>
            <input
                type="text"
                name="searchInput"
                id="searchInput"
                class="form-control searchInput"
            />
        </div>
    </form>

    <div class="row cards-parent justify-content-center">
        <div class="card col-lg-3 col-md-4 mt-3">
            <img src="" alt="movie" class="card-img-top" />
            <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text"></p>
            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>
