<app-navbar></app-navbar>
<div class="container mt-5">
    <form class="search-form input-group text-light" (submit)="onSubmit()">
        <div class="form-group w-100">
            <label for="searchInput">Saissiez le nom de film</label>
            <input
                type="text"
                name="searchInput"
                id="searchInput"
                class="form-control searchInput"
                name="filmName"
                [(ngModel)]="filmName"
            />
        </div>
    </form>

    <div
        *ngIf="showCard; else Nope"
        class="row cards-parent justify-content-center"
    >
        <div class="card col-lg-3 col-md-4 mt-3">
            <img src="{{ poster }}" alt="movie" class="card-img-top" />
            <div class="card-body">
                <h5 class="card-title">{{ filmTitle }}</h5>
                <p class="card-text">{{ desc }}</p>
            </div>
        </div>
    </div>
    <ng-template #Nope>
        <h1 *ngIf="!start" clsas="text-danger" [ngStyle]="{ color: 'red' }">
            Film doesn't exits
        </h1>
    </ng-template>
</div>

<router-outlet></router-outlet>
